.topheader {
  position: fixed;
  background-color: rgb(2, 3, 63);
  width: 95.8%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Menu-Horizontal li a {
  display: block;
  padding: 0.938rem 1.25rem;
  color: white;
  text-decoration: none;
}
.Menu-Vertical {
  list-style: none;
  padding: 0;
  position: absolute;
  display: none;
  width: 9.375rem;
}
.Menu-Horizontal li a:hover {
  color: rgb(81, 255, 0);
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.seccion-Lenguas {
  padding: 3.75rem 1.25rem;
  background-color: white;
}
.div-general-Lenguas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.div-prod-text {
  flex: 1;
}
.div-prod-text h2 {
  color: blueviolet;
}
.div-prod-text p {
  color: black;
  line-height: 1.5;
  font-size: 1rem;
  text-align: justify;
}
.div-prod-img {
  flex: 1;
}
.div-prod-text button {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: rgba(255, 144, 51);
  color: black;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}
.div-prod-img imgs {
  width: 100%;
  max-width: 500%;
}
.div-prod-text p {
  color: black;
  line-height: 1.5;
  font-size: 1rem;
}
.div-prod-img img {
  width: 100%;
  max-width: 500%;
}
.seccion-zondig {
  padding: 3.125rem 1.25rem;
  background-color: white;
}
.div-general-zondig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 1.25rem;
}
.div-zondig-text {
  flex: 1;
}
.div-zondig-text h3 {
  color: blueviolet;
}
.div-zondig-text p {
  color: black;
  line-height: 1.5;
  font-size: 1rem;
}
.div-zondig-img iframe {
  width: 100%;
  max-width: 500%;
}
.div-zondig-text p {
  color: black;
  line-height: 1.5;
  font-size: 1rem;
}
.div-zondig-video iframe {
  width: 100%;
  max-width: 500%;
}
.div-zondig-video {
  flex: 1;
}
.seccion-formulario {
  background-color: rgb(248, 248, 91);
  padding: 2.5rem;
  border: 0.188rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.div-cont-formulario {
  background-color: rgb(255, 208, 0);
  padding: 1.875rem;
  border: 0.125rem solid rgb(255, 166, 0);
  border-radius: 0.625rem;
  width: 100%;
  max-width: 31.25rem;
}
.campo {
  background-color: white;
  padding: 0.938rem;
  border: 0.063rem;
  border-radius: 0.5rem;
  margin-bottom: 0.938rem;
}
.formulario-usuario {
  display: block;
  font-weight: 3.75rem;
  margin-bottom: 0.5rem;
  color: black;
}
.formulario-imput[type: "text"], .formulario-select {
  width: 100%;
  padding: 0.625rem;
  border: 0.063rem;
  border-radius: 0.313rem;
  box-sizing: border-box;
}
.lista-checkbox,
.lista-dispositivo {
  list-style: none;
  padding: 0.625rem;
  margin: 0;
  border: 0.063rem solid black;
  background-color: rgb(238, 185, 136);
  border-radius: 0.5rem;
}
.formulario-usuario button {
  background-color: rgb(255, 230, 163);
  color: black;
  border: 0.125rem solid orange;
  padding: 0.625rem 6.25rem;
  cursor: pointer;
  border-radius: 1.25rem;
}
